.HomePage {
    .app-name{
        font-size: 2.5rem;
        margin: 30px auto;
        text-align: center;
    }

    .team-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }
} 